<!--Logo bar sticked to the top of the page-->
{% extends 'logobar.html' %}

<!--css-->
{% load staticfiles %}

<!--content for mainpage-->
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/insertComponent.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/insertComponent.js' %}"></script>
</head>
<body>
    <header id="insertComponent_header">
            <div id="subtitles">
                <div id="category">Category</div>
                <div id="courseName">Course Name</div>
                <div id="moduleName">Module Name</div>
            </div>
            
            <div id="addContentsBtnDiv">
                    <button id="addTextBtn" onclick="addTextBox()">Add Text</button>
                    <button id="addImgBtn" onclick="addImg()">Add Image</button>
            </div>

            <div id="title_info">
                <div id="componentTitle">
                    <label for="componentTitleInputBox">Component Title: </label>
                    <input id="componentTitleInputBox"></input>
                </div>
                <div id="creationInfo">
                    <div id="dateOfCreation">date of creation: -</div>
                    <div id="dateOfUpdate">date of last update: -</div>
                </div>
    
                <div id="page_number">
                    Page number: <input type="text"></input>
                </div>
            </div>
        </header>
        
        <div id="componentContentBox">
            
        </div>
    
        <div id="buttonDiv">
            <button>Insert</button>
        </div>
</body>
</html>

{% endblock %}