{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/login.css' %}">
    <script src="main.js"></script>
</head>
<body>

    <div class = "tm_container">
            <header class = "logo" >
                    <span id = "logo_txt">ICE </span>
                    <span id = "logo_login">Login</span>
            </header>
            
                <div class = "input_boxes">
                    <div id = "role">
                        Role<br>
                        <select>
                            <option>Instructor</option>
                            <option>Learner</option>
                        </select>
                    </div>
                    <div id = "Username">
                        Username<br>
                        <input type="text" name="Username">
                    </div>
                    <div id = "Password">
                        Password<br>
                        <input type="password" name="Password">
                    </div>
                </div>

            <div id="button_div">
                <button>
                    Login
                </button>
            </div>

            <div id="forgot_pw">
                <a href="url">Forgot Password?</a>
            </div>
    </div><!--tm_container-->
    

</body>
</html>