<!--Logo bar sticked to the top of the page-->
{% extends 'logobar.html' %}

<!--css-->
{% load staticfiles %}

<!--content for mainpage-->
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/courseOffered.css' %}">
    <script src="main.js"></script>
</head>
<body>
    <div class = "tm_container">
        <div class = "categoryName">manage course</div>
        <div id = "course_panel">
            <!-- {% for course in course_list %}
                <form action=" {% url 'courseInstructor' %}">
                    <button type="submit" class="courseDiv">
                        Course 1
                    </button>  
                </form>
            {% endfor %} -->

            <form action=" {% url 'courseInstructor' %}">
                <button type="submit" class="courseDiv">
                    Course 2
                </button>       
            </form>

            <form action=" {% url 'courseInstructor' %}">
                <button type="submit" class="courseDiv">
                    Course 1
                </button>
            </form>

            <form action=" {% url 'courseInstructor' %}">
                <button type="submit" class="courseDiv">
                    Course 1
                </button>
            </form>
        </div>
    </div>
    

</body>
</html>

{% endblock %}